<h1><%= @species.name %></h1>

<% if @species.sightings.any? %>
  <h4>Here are the sightings for this species:</h4>

  <ul>
    <% @species.sightings.each do |sighting| %>
      <li>
        <%= sighting.date %>
        <img src="<%= sighting.image %>" >
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no sightings yet!</p>
<% end %>
<p><%= link_to "Add sighting", new_species_sighting_path(@species) %></p>



<p><%= link_to "Edit", edit_species_path(@species) %></p>

<p><%= link_to "Delete", species_path(@species),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %></p>

<p><%= link_to "Home", species_index_path %></p>
